DearMonsterClientApp/client/node_modules/
DearMonsterAdminPanel/node_modules/
DearMonsterServer/node_modules/

DearMonsterClientApp/client/public/assets/gif/

DearMonsterClientApp/client/build/
DearMonsterAdminPanel/build/

DearMonsterServer/client/build/
DearMonsterServer/admin/build/
DearMonsterServer/uploads/


DearMonsterServer/.env
DearMonsterAdminPanel/.env
DearMonsterClientApp/client/.env


DearMonsterServer/package-lock.json
DearMonsterAdminPanel/package-lock.json
DearMonsterClientApp/client/package-lock.json

.DS_Store
