DearMonsterClientApp/node_modules/
DearMonsterClientApp/client/node_modules/

DearMonsterClientApp/client/public/assets/gif/
DearMonsterClientApp/client/build/
DearMonsterClientApp/client/.env
DearMonsterServer/node_modules/
DearMonsterServer/.env

.DS_Store
