@font-face {
     font-family: 'comic-sans';
     src: url('/assets/fonts/comici.ttf');
 }

 /* @font-face {
     font-family: 'Comic Sans MS';
     src: url('./assets/fonts/comicz.ttf');
 } */

 .bold {
     font-family: 'Comic Sans MS';
     font-weight: bold;
 }

 body {
     background: url('/assets/imgs/background.png');
     background-repeat: no-repeat;
     background-size: cover;
     font-family: 'comic-sans';
     width: 100vw;
     overflow-x: hidden;
 }

 .splide__arrow svg{
    fill: #fff !important;
    height: 25px !important;
    width: 25px !important;
 }
 .splide__arrow--prev {
     top: 60% !important;
 }

 .splide__arrow--next {
     top: 60% !important;
 }
@media (max-width: 568px) {
    .splide__arrow--prev {
        left: 0% !important;
    }
    .splide__arrow--next {
         right: 2% !important;
        }

}

 .loading-on-load {
     background: url('/assets/imgs/background.png');
      background-repeat: no-repeat;
      background-size: cover;
       overflow-x: hidden;
       width: 100vw;

 }

 .header-btn {
     background: url('/assets/imgs/header/headerBtn.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     height: 80%;
     width: auto;
     padding: 15px;
     text-align: center;
     vertical-align: middle;
     display: flex;
     justify-content: center;
     align-items: center
 }

 .dms-block {
     background: url('/assets/imgs/header/dms.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
 }

 .dms-btn {
     background: url('/assets/imgs/header/dmsBtn.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
 }

 .dms-btn.balance-div {
     min-width: 100px !important;
 }

 .header-Connect-btn {
     background: url('/assets/imgs/header/connectBtn.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
 }

 .announcementBar {
     background: url('/assets/imgs/header/Announcement.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
 }

 .headingBox {
     background: url('/assets/imgs/HeadingBox.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
 }
 
 .findDearMonster {
     background: url('/assets/imgs/BoardForFindMonster.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
 }

 .filterCheckBtn {
     background: url('/assets/imgs/filterCheckBtn.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
 }

 .discoveryCaveBg {
     background: url('/assets/imgs/discoveryCaveBg.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
 }

 .instructionsBoard {
     background: url('/assets/imgs/instructionBoard.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
 }

 .timerBoard {
     background: url('/assets/imgs/timerBoard.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
 }

 
.instructionsBoard .modal-body .title {
    text-align: center;
    margin-bottom: 20px;
  }
  .items-list .item {
    display: flex;
    justify-content: space-around;
  }
  .items-list .item .modal-amount {
    margin: 0;
  }


  nav > a > p{
    padding: 10px;
    background-color: #FFBD1C;
    border-radius: 9px;
    width: 200px;
    text-align: center;
    color: black;
  }

  nav > a > p:hover{
    background-color: #FF901D;
  }

  .wheel-wrapper {
    display: inline-block;
    position: relative;
  }
  .wheel-wrapper > div::before{
    animation: rotate-animation 10s infinite linear;
  }
  @keyframes rotate-animation {
      0% {
          transform: rotate(0deg);
    }
      100% {
          transform: rotate(360deg);
      }
  }
  .wheel-wrapper> div::before {
    content: '';
    background: url('./assets/imgs/wheel-outer.png');
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    transform: rotate(-402deg);
  }
  .wheel-wrapper .inner-first {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #051338;
    z-index: 999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-image: url('./assets/imgs/inner-wheel.png');
    background-size: 100%;
    animation: rotate 8s infinite linear;
  }
  /* @keyframes rotate {
    0% {
        transform: rotate(0deg);
  }
    100% {
        transform: rotate(360deg);
    }
} */
  .wheel-wrapper .inner-second {
    width: 75%;
    height: 75%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ffffff33;
    z-index: 999;
    border-radius: 50%;
  }
  .btn-wrapper {
    margin-top: 30px;
  }
  
  .btn-spin {
    background: #123796;
    color: #fff;
    font-size: 22px;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* div.is-disabled {
    pointer-events: none;
    opacity: 0.7;
  } */

  .header-logo {
    height: 90px;
    margin-left: -82px;
    margin-right: 10px
  }
  .header-logo-connect {
    height: 78px;
    margin-left: -100px;
    margin-right: 10px;
  }
  .header-tab-connect {
    margin-right: -20px;
    margin-left: -2px;
  }
  .header-wallet-connect {
    margin-right: -45px;
  }
  .header-wallet {
    margin-right: -80px;
  }